In [8]:
import urllib.request
import pandas as pd

In [14]:
gz_path = 'clients.csv.gz'
url = 'https://winterschool123.s3.eu-north-1.amazonaws.com/clients.csv+(2).gz'
file = urllib.request.urlretrieve(url, gz_path)

In [15]:
df = pd.read_csv(gz_path, compression='gzip')
df

         client_id     first_issue_date    first_redeem_date  age gender
0       000012768d  2017-08-05 15:40:48  2018-01-04 19:30:07   45      U
1       000036f903  2017-04-10 13:54:23  2017-04-23 12:37:56   72      F
2       000048b7a6  2018-12-15 13:33:11                  NaN   68      F
3       000073194a  2017-05-23 12:56:14  2017-11-24 11:18:01   60      F
4       00007c7133  2017-05-22 16:17:08  2018-12-31 17:17:33   67      U
...            ...                  ...                  ...  ...    ...
400157  fffece623e  2018-05-13 15:09:30  2018-12-27 19:06:39   67      U
400158  ffff3dfff8  2018-11-01 16:06:52  2018-12-07 17:33:47   56      F
400159  ffffaab9da  2017-08-25 18:43:24  2017-12-08 17:53:19   23      F
400160  ffffeb5619  2017-12-05 13:26:28                  NaN   62      U
400161  fffff6ce77  2017-08-03 20:25:12  2017-08-26 16:41:41   42      U

[400162 rows x 5 columns]